version: "3"
services:

  actinia:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    volumes:
      - ..:/src/actinia-example-plugin/.
    ports:
      - "8088:8088"
    depends_on:
      - valkey
    cap_add:
      - SYS_PTRACE
    networks:
    -   actinia

  valkey:
    image: valkey/valkey:9.0-alpine
    volumes:
      - ./valkey_data:/data
    environment:
      - VALKEY_PASS_FILE=/data/config/.valkey
    command: [
      "sh", "-c",
      '
      docker-entrypoint.sh
      "/data/config/valkey.conf"
      --requirepass "$$(cat $$VALKEY_PASS_FILE)"
      '
    ]
    ports:
        - "6379:6379"
    networks:
    -   actinia

networks:
  actinia:
    ipam:
      config:
        - subnet: 172.18.0.0/16
